{% extends 'base.html.twig' %}

{% block title %}Mój Blog{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Witaj na swoim blogu!</h1>
    <p>To będzie Twoja główna strona bloga. Tu pojawią się wpisy.</p>
</div>
{% endblock %}
